body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #007bff;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: 20px;
    padding: 20px;
}

#about, #project, #game, #contact {
    border: 1px solid #ddd;
    border-radius: 8px;
}

h1, h2 {
    color: #333;
}

p {
    font-size: 16px;
    color: #555;
}

/* Галерея */
.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery img {
    max-width: 400px;
    margin: 10px;
    border-radius: 8px;
}

/* Форма зворотного зв'язку */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    margin-bottom: 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

/* Гра */
#game-container {
    height: 768px;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #ccc;
}